body, html {
    margin: 0;
    padding: 0;
}

* {
    font-family: sans-serif;
}

.fullscreen {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.fullscreen > * {
    width: 100%;
    height: 100%;
}

.overlay {
    position: fixed;
    left: 20px;
    top: 20px;
}

a.back {
    display: block;
    padding: 5px 10px;
    background: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

a.back:hover {
    background: #ddd;
}

        h2 {text-align: center; color:white; font-size:86px; font-family:Charcoal, sans-serif;}
        h3 {text-align: center; font-size:24px;color:white;}
        .button {  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.button:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0cf;
  border-radius: 10rem;
  z-index: -2;
}
.button:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #008fb3;
  transition: all .3s;
  border-radius: 10rem;
  z-index: -1;
}
.button:hover {
  color: #fff;
}
.button:hover:before {
  width: 100%;
}

/* optional reset for presentation */
* {
  font-family: Arial;
  text-decoration: none;
  font-size: 20px;
}

.container {
  padding-top: 50px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

h1 {
  text-transform: uppercase;
  font-size: .8rem;
  margin-bottom: 2rem;
  color: #777;
}

span {
  display: block;
  margin-top: 2rem;
  font-size: .7rem;
  color: #777;
}
span a {
  font-size: .7rem;
  color: #999;
  text-decoration: underline;
}
.hud-overlay{
    width: 10%;
    height: 3%;
    border-radius: 5px;
    position:absolute;
    text-align: center;
    vertical-align: middle;
    float: left;
    padding: 20px;
    left: 10px;
    top: 10px;
    color: white;
    background-color: rgba(204, 0, 0,0.8);
}
.hud-overlayB{
    width: 10%;
    height: 3%;
    border-radius: 5px;
    position:absolute;
    text-align: center;
    vertical-align: middle;
    float: left;
    padding: 20px;
    left: 250px;
    top: 10px;
    color: white;
    background-color: rgba(0, 0, 204,0.5);
}
.hud-overlayButton{
    width: 10%;
    height: 3%;
    border-radius: 5px;
    position:absolute;
    text-align: center;
    vertical-align: middle;
    float: left;
    padding: 20px;
    left: 10px;
    top: 85px;
    color: white;
    background-color: rgba(0,0,0,0.8);
}
.hud-overlayButtonB{
    width: 10%;
    height: 3%;
    border-radius: 5px;
    position:absolute;
    text-align: center;
    vertical-align: middle;
    float: left;
    padding: 20px;
    left: 250px;
    top: 85px;
    color: white;
    background-color: rgba(0,0,0,0.8);
}
.hud-overlayButtonC{
    width: 10%;
    height: 1.5%;
    font-size: medium;
    border-radius: 5px;
    position:absolute;
    text-align: center;
    vertical-align: middle;
    float: left;
    padding: 20px;
    left: 10px;
    top: 155px;
    color: white;
    background-color: rgba(0,0,180,0.5);
}
.hud-overlayButtonD{
    width: 10%;
    height: 1.5%;
    font-size: medium;
    border-radius: 5px;
    position:absolute;
    text-align: center;
    vertical-align: middle;
    float: left;
    padding: 20px;
    left: 250px;
    top: 155px;
    color: white;
    background-color: rgba(180,0,0,0.5);
}
.hud-overlayC{
    width: 27%;
    height: 45%;
    border-radius: 5px;
    position:absolute;
    text-align: center;
    vertical-align: middle;
    float: left;
    padding: 20px;
    left: 5px;
    top: 5px;
    color: white;
    background-color: rgba(196, 196, 196,0.7);
}
